.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100,100,100,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.modal-background form {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  flex-direction: column;
}
