.container {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-areas: "n m p" ;
}

.side-nav {
  background-color: blue;
  display: grid;
  grid-area: n;
  grid-template-rows: repeat(4, 2fr);
  place-items: center;
}


